NEXT_PUBLIC_API_BASE_URL=http://localhost:8080
NEXT_PUBLIC_AUTH_BASE_URL=http://localhost:9000
NEXT_PUBLIC_AUTH_CLIENT_ID=proofvault-spa
NEXT_PUBLIC_AUTH_REDIRECT_URI=http://localhost:5173/oauth2/callback
NEXT_PUBLIC_AUTH_SCOPES=openid profile email proof:read proof:write
NEXT_PUBLIC_WALLET_CHAIN_ID=11155111
NEXT_PUBLIC_WALLET_CHAIN_NAME=Sepolia
NEXT_PUBLIC_WALLET_RPC_URL=https://rpc.sepolia.org
NEXT_PUBLIC_WALLET_EXPLORER_URL=https://sepolia.etherscan.io
NEXT_PUBLIC_WALLET_NATIVE_CURRENCY_NAME=Sepolia Ether
NEXT_PUBLIC_WALLET_NATIVE_CURRENCY_SYMBOL=ETH
