SPRING_PROFILES_ACTIVE=sepolia
SERVER_PORT=8080
CORS_ALLOWED_ORIGINS=http://localhost:5173
DB_URL=jdbc:mysql://localhost:3306/proofvault?useSSL=false&allowPublicKeyRetrieval=true&serverTimezone=UTC
DB_USERNAME=proofvault
DB_PASSWORD=proofvault_local_password
AUTHENTICATION_ENABLED=true
OAUTH2_ISSUER_URI=http://localhost:9000
OAUTH2_JWK_SET_URI=http://localhost:9000/oauth2/jwks
OAUTH2_AUDIENCE=proofvault-api
BLOCKCHAIN_MODE=ethereum
BLOCKCHAIN_NETWORK=sepolia
BLOCKCHAIN_RPC_URL=https://rpc.sepolia.org
BLOCKCHAIN_CHAIN_ID=11155111
EXPLORER_BASE_URL=https://sepolia.etherscan.io/tx/
PROOFVAULT_CONTRACT_ADDRESS=<sepolia-proxy-address>
PROOFVAULT_ANCHOR_ADDRESS=<sepolia-anchor-address>
PROOFVAULT_ANCHOR_PRIVATE_KEY=<sepolia-anchor-private-key>
OTEL_TRACING_ENABLED=false
